
h1{
    padding: 30px;
    color:#c5b2b2ce;
    
}
p{
    text-align: justify;
    padding: 20px;
    color:#c5b2b2ce;
}

@media screen and (max-width:480px) {
    h1{
        padding: 30px;
        
    }
    p{
        text-align: justify;
        padding: 20px;
    }
    
    
}
@media screen and (max-width:780px) {
    h1{
        padding: 30px;
        
    }
    p{
        text-align: justify;
        padding: 20px;
    }
    
    
}