nav ul {
    list-style: none; 
    display: flex;
    margin-top: 24px;
    
}

.link {
    font-size: 18px;
    color:#c5b2b2;
   
}

.linkAtivo {
    font-weight: bold; 
}

nav ul li {
    margin: 21px 20px 23px ;
}

nav a {
    text-decoration: none;
}

.navegacao {
    display: flex;
    align-items: center;
  
}
@media screen and (max-width:300px) {
    .navegacao .link {
        font-size: 0.9rem; 
        
       
      }
    
}
@media screen and (max-width:780px) {
    header {
        padding: 10px 15px; 
      }
    
      .navegacao {
        flex-direction: column; 
        align-items: flex-start; 
        width: 100%; 
      }
    
      .navegacao ul {
        width: 100%; 
      }
    
      .navegacao li {
        margin: 5px 0; 
      }
    }
    
