.footer {
    height: 75px;
    background-color: #000000 ;

    border-top: 1px solid #5e5e5e;
    padding: 20px; /* Padding interno */
    text-align: center; /* Alinha o texto ao centro */
    box-sizing: border-box;
}

.footer span {
    color:#c5b2b2;
    font-size: 16px;
    display: block; 
  margin-bottom: 10px;
}

.icones {
    color:#c5b2b2;

    font-size: 24px; 
    transition: color 0.3s;
}

.links {
    display: flex; 
    justify-content: center; 
    gap: 15px; 

}
@media screen and (max-width:300px) {
    .footer {
        padding: 10px; 
      }
    
      .icones {
        font-size: 18px; 
      }
    }
    

@media screen and (max-width:780px) {
    .footer {
        padding: 15px; /* Reduz o padding em telas menores */
      }
    
      .icones {
        font-size: 20px; /* Ajusta o tamanho dos ícones */
      }
    }
    


