header {
    height: 60px;
    width: 94, 2%;
    background-color: #000000 ;
    /*border: 1px solid #5e5e5e;*/

    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    font-family: 'Verdana, sans-serif';
}

.header-logo {
    /*background-color: #699BF7;*/
    display: flex;
    gap: 20px;
    width: 280px;
    height: 60px;
    border-radius: 10px;
margin-top: 80px;

}

.header-titulo {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    
 
}

.header-titulo h1,
a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
}



/* Estilos para telas muito pequenas (celulares menores) */
@media (max-width: 480px) {
   
    .header {
        flex-direction: column; /* Muda a direção de uma barra de navegação horizontal para vertical */
    }
}
/*
.button {
  padding: 0.6rem 0.8rem;
  color: #ffffff;
  background-color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  scale: 1.1;
}*/